<div class="main-content">
	<div class="content-wrapper container">
		<%- include('../layouts/alert') %>
		<div class="page-heading">
			<div class="page-title">
				<div class="row">
					<div class="col-12 col-md-6 order-md-1 order-last">
						<h3>Auto Reply Setting</h3>
						<p class="text-subtitle text-muted">Automatic Message Reply According to Keyword</p>
					</div>
					<div class="col-12 col-md-6 order-md-2 order-first">
						<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">Reply</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="page-content">
			<section class="section">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">List Response</h5>
						<p class="text-subtitle text-muted">You can add auto-reply keywords via the button below</p>
					</div>
					<center>
						<button onclick="alertKeywordAutoReply(true)" style="margin-top: 2px" class="btn btn-success" title="Add Keyword"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp; Add Keyword</button>
						<button onclick="alertDeleteAllKeyword()" style="margin-top: 5px" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Keyword">
							<i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp; Delete All Keyword
						</button>
					</center>
					<div class="card-body">
						<div style="overflow-x: auto !important">
							<table class="table" id="table1">
								<thead>
									<tr>
										<th>Date</th>
										<th>Session Name</th>
										<th>Session Number</th>
										<th>Keyword</th>
										<th>Response</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<% if (Array.isArray(replyList) && replyList.length) { %> <% replyList.forEach((el, index) => { %>
									<tr>
										<div id="listreply"></div>
										<td><%= el.$id %></td>
										<td><%= el.session_name %></td>
										<td><%= el.session_number %></td>
										<td><%= el.keyword %></td>
										<td><%= el.response %></td>
										<td>
											<button onclick="alertKeywordAutoReply(false, '<%= el.session_number %>', '<%= el.keyword %>', '<%= el.response %>')" style="margin-top: 5px" class="btn btn-primary" title="Edit Keyword">
												<i class="fa-solid fa-pen-to-square"></i>
											</button>
											<button
												onclick="alertDeleteAutoReply('<%= el.$id %>', '<%= el.keyword %>')"
												style="margin-top: 5px"
												class="btn btn-danger"
												data-bs-toggle="tooltip"
												data-bs-placement="top"
												title="Delete Keyword"
											>
												<i class="fa-solid fa-trash-can"></i>
											</button>
										</td>
									</tr>
									<% }); %> <% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer>
			<div class="divider">
				<div class="divider-text">
					<a href="https://github.com/fawwaz37/whatsapp-gateway" target="_blank">Zekais - 2022 &copy; Mazer</a>
				</div>
			</div>
		</footer>
	</div>
</div>

<script src="/assets/extensions/jquery/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="/assets/js/pages/datatables.js"></script>

<script>
	async function alertDeleteAutoReply(id, keyword) {
		console.log(id)
		Swal.fire({
			title: `Delete Auto Reply`,
			html: `Are You Sure Delete Keyword ${keyword}?`,
			icon: "question",
			confirmButtonText: `Delete`,
			showLoaderOnConfirm: true,
			preConfirm: () => {
				return fetch(`/reply/delete-reply?id=${id}`)
					.then((response) => {
						if (!response.ok) {
							throw new Error(response.statusText);
						}
						return response.json();
					})
					.catch((error) => {
						Swal.showValidationMessage(`Request failed: ${error}!`);
					});
			},
		}).then((result) => {
			if (result.isConfirmed) {
				if (result.value.status == 200) {
					Swal.fire("Success!", JSON.stringify(result.value.message), "success").then(function () {
						window.location = "/dashboard/auto-reply";
					});
				} else {
					Swal.fire(`Status ${result.value.status}`, JSON.stringify(result.value.message), "error");
				}
			}
		});
	}

	async function alertDeleteAllKeyword() {
		Swal.fire({
			title: `Delete All Keyword`,
			html: `Are You Sure Delete All Keyword?`,
			icon: "question",
			confirmButtonText: `Delete All`,
			showLoaderOnConfirm: true,
			preConfirm: () => {
				return fetch(`/reply/deleteall-reply`)
					.then((response) => {
						if (!response.ok) {
							throw new Error(response.statusText);
						}
						return response.json();
					})
					.catch((error) => {
						Swal.showValidationMessage(`Request failed: ${error}!`);
					});
			},
		}).then((result) => {
			if (result.isConfirmed) {
				if (result.value.status == 200) {
					Swal.fire("Success!", JSON.stringify(result.value.message), "success").then(function () {
						window.location = "/dashboard/auto-reply";
					});
				} else {
					Swal.fire(`Status ${result.value.status}`, JSON.stringify(result.value.message), "error");
				}
			}
		});
	}

	function alertKeywordAutoReply(add, session, keyword, respon) {
		var endpoint;
		if (add == true) {
			var titleSwal = "Add Auto Reply Message";
			var htmlSwal =
				"<center>" +
				'<label style="padding: 10px;">Session</label><div class="col-md-8 form-group"><select id="sessionId" name="sessions" class="form-select"><% if (Array.isArray(session) && session.length) { %> <% session.forEach((el, index) => { %><option><%= el.session_name %> (+<%= el.session_number %>)</option><% }) %> <% } %></select></div>' +
				'<label style="padding: 10px;">Keyword Message</label><div class="col-md-8 form-group"><input id="keywordId" type="text" name="keyword" class="form-control" placeholder="Hi" /></div>' +
				'<label style="padding: 10px;">Response Message</label><div class="col-md-8 form-group"><input id="responId" type="text" name="respon" class="form-control" placeholder="Yoo bro" /></div>' +
				"</center>";
			var confirmButtonText = "Add Keyword";
		} else {
			var titleSwal = "Edit Auto Reply Message";
			var htmlSwal =
				"<center>" +
				`<label style="padding: 10px;">Keyword Message</label><div class="col-md-8 form-group"><input id="keywordId" type="text" name="keyword" class="form-control" value="${keyword}" /></div>` +
				`<label style="padding: 10px;">Response Message</label><div class="col-md-8 form-group"><input id="responId" type="text" name="respon" class="form-control" value="${respon}" /></div>` +
				"</center>";
			var confirmButtonText = "Edit Keyword";
		}
		Swal.fire({
			title: titleSwal,
			html: htmlSwal,
			focusConfirm: false,
			showCancelButton: true,
			confirmButtonText,
			showLoaderOnConfirm: true,
			preConfirm: () => {
				if (add == true) {
					var endpoint = `create-reply`;
					var data = JSON.stringify({
						session: document.getElementById("sessionId").value,
						keyword: document.getElementById("keywordId").value,
						respon: document.getElementById("responId").value,
					});
				} else {
					var endpoint = `edit-reply`;
					var data = JSON.stringify({
						session,
						keyword,
						newKeyword: document.getElementById("keywordId").value,
						newRespon: document.getElementById("responId").value,
					});
				}
				return fetch(`/reply/${endpoint}`, {
					method: "POST",
					body: data,
					headers: {
						"Content-Type": "application/json",
					},
				})
					.then((response) => {
						if (!response.ok) {
							throw new Error(response.statusText);
						}
						return response.json();
					})
					.catch((error) => {
						Swal.showValidationMessage(`Request failed: ${error}! Input Your Data!`);
					});
			},
			allowOutsideClick: () => !Swal.isLoading(),
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire("Success!", "Success Setting Auto Reply Message", "success").then(function () {
					window.location = "/dashboard/auto-reply";
				});
			}
		});
	}
</script>
